<!DOCTYPE html>
<html lang="ja" class="light-style customizer-hide" dir="ltr" data-theme="theme-default"
  data-assets-path="/static/assets/" data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>ログイン | クーポン トゥルー エフェクト</title> <!-- Translated title -->
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/static/assets/vendor/fonts/boxicons.css" />
  <link rel="stylesheet" href="/static/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/static/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/static/assets/css/demo.css" />
  <link rel="stylesheet" href="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="/static/assets/vendor/css/pages/page-auth.css" />
  <script src="/static/assets/vendor/js/helpers.js"></script>
  <script src="/static/assets/js/config.js"></script>
</head>

<body>
  <!-- Content -->

  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="#" class="app-brand-link gap-2">
                <!-- <span class="app-brand-logo demo">
                  </span> -->
                <span class="demo text-body fw-bolder">クロス シート</span> <!-- Translated text -->
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">クーポン トゥルー エフェクト へようこそ！ 👋</h4> <!-- Translated heading -->
            <p class="mb-4">アカウントにサインインして、冒険を始めましょう</p> <!-- Translated message -->

            <form id="formAuthentication" class="mb-3" method="POST">
              <div class="mb-3">
                <center>
                  {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
                  {% endfor %}
                  {% endif %}
                </center>
              </div>
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="form-label">メールアドレスまたはユーザー名</label> <!-- Translated label -->
                {{ form.email }}
              </div>
              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">パスワード</label> <!-- Translated label -->
                  <a href="/forgetpassword">
                    <small>パスワードをお忘れですか？</small> <!-- Translated message -->
                  </a>
                </div>
                <div class="input-group input-group-merge">
                  {{ form.password }}
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remember-me" />
                  <label class="form-check-label" for="remember-me"> ログインを記憶する </label> <!-- Translated label -->
                </div>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">サインイン</button> <!-- Translated button -->
              </div>
              <div class="mb-3">
                <button class="btn btn-info d-grid w-100" type="submit">Googleで続行</button> <!-- Translated button -->
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-info d-grid w-100" type="submit">Login with Facebook</a> <!-- Translated button -->
              </div>
            </form>

            <p class="text-center">
              <span>プラットフォームに新しいですか？</span> <!-- Translated message -->
              <a href="/signup">
                <span>アカウントを作成</span> <!-- Translated message -->
              </a>
            </p>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>

  <!-- / Content -->
  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="/static/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/static/assets/vendor/libs/popper/popper.js"></script>
  <script src="/static/assets/vendor/js/bootstrap.js"></script>
  <script src="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <script src="/static/assets/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->

  <!-- Main JS -->
  <script src="/static/assets/js/main.js"></script>

  <!-- Page JS -->

</body>

</html>
