<!DOCTYPE html>
<html lang="ja" class="light-style customizer-hide" dir="ltr" data-theme="theme-default"
  data-assets-path="/static/assets/" data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>ログイン | クーポン トゥルー エフェクト</title> <!-- Translated title -->
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/static/assets/vendor/fonts/boxicons.css" />
  <link rel="stylesheet" href="/static/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/static/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/static/assets/css/demo.css" />
  <link rel="stylesheet" href="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="/static/assets/vendor/css/pages/page-auth.css" />
  <script src="/static/assets/vendor/js/helpers.js"></script>
  <script src="/static/assets/js/config.js"></script>
</head>

<body>
  <!-- Content -->

  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <a href="/" class="">
              <h4 class="text-center text-primary"><strong>Cross Seat</strong></h4>
            </a>
            <h4 class="mb-2">クーポン トゥルー エフェクト へようこそ！ 👋</h4> <!-- Translated heading -->
            <p class="mb-4">アカウントにサインインして、冒険を始めましょう</p> <!-- Translated message -->

            <form id="formAuthentication" class="mb-3" method="POST">
              <div class="mb-3">
                <center>
                  {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
                  {% endfor %}
                  {% endif %}
                </center>
              </div>
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="form-label">メールアドレスまたはユーザー名</label> <!-- Translated label -->
                {{ form.email }}
              </div>
              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">パスワード</label> <!-- Translated label -->
                  <a href="/reset_password/">
                    <small>パスワードをお忘れですか？</small> <!-- Translated message -->
                  </a>
                </div>
                <div class="input-group input-group-merge">
                  {{ form.password }}
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remember-me" />
                  <label class="form-check-label" for="remember-me"> ログインを記憶する </label> <!-- Translated label -->
                </div>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">サインイン</button> <!-- Translated button -->
              </div>
              <div class="row mb-1">
                <label class="form-check-label" for="remember-me">Or Continue with </label> <!-- Translated label -->
              </div>
              <div class="row mb-3">
                <div class="">
                  <center>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn social_buttons" type="submit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgb(255, 255, 255); margin-right:2%;">
                        <path
                          d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z">
                        </path>
                      </svg>
                      Google
                    </a>
                    <!-- Translated button -->
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn social_buttons" type="submit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgb(255, 255, 255);margin-right: 2%;">
                        <path
                          d="M20.26 7.8a4.82 4.82 0 0 0-3.93-2.44 3.91 3.91 0 0 0-2.54 1.09 10.58 10.58 0 0 0-1.52 1.71 11 11 0 0 0-1.63-1.72 4.39 4.39 0 0 0-2.88-1.08A5 5 0 0 0 3.7 8 11.49 11.49 0 0 0 2 14a7 7 0 0 0 .18 1.64A4.44 4.44 0 0 0 2.71 17a3.23 3.23 0 0 0 3 1.6c1.25 0 2.19-.56 3.3-2a26.4 26.4 0 0 0 2.21-3.6l.63-1.12c.06-.09.11-.18.16-.27l.15.25 1.79 3A14.77 14.77 0 0 0 16 17.63a3.38 3.38 0 0 0 2.55 1 3 3 0 0 0 2.54-1.23 2.2 2.2 0 0 0 .18-.28 4.1 4.1 0 0 0 .31-.63l.12-.35A6.53 6.53 0 0 0 22 15a9 9 0 0 0 0-1 11.15 11.15 0 0 0-1.74-6.2zm-10.12 3.56c-.64 1-1.57 2.51-2.37 3.61-1 1.37-1.51 1.51-2.07 1.51a1.29 1.29 0 0 1-1.15-.66 3.3 3.3 0 0 1-.39-1.7A9.74 9.74 0 0 1 5.54 9a2.8 2.8 0 0 1 2.19-1.47A3 3 0 0 1 10 8.74a14.07 14.07 0 0 1 1 1.31zm8.42 5.12c-.48 0-.85-.19-1.38-.83A34.87 34.87 0 0 1 14.82 12l-.52-.86c-.36-.61-.71-1.16-1-1.65a2.46 2.46 0 0 1 .17-.27c.94-1.39 1.77-2.17 2.8-2.17a3.12 3.12 0 0 1 2.49 1.66 10.17 10.17 0 0 1 1.37 5.34c-.04 1.31-.34 2.43-1.57 2.43z">
                        </path>
                      </svg> Meta
                    </a>
                    <!-- Translated button -->
                  </center>
                </div>
              </div>
            </form>

            <p class="text-center">
              <span>プラットフォームに新しいですか？</span> <!-- Translated message -->
              <a href="/signup">
                <span>アカウントを作成</span> <!-- Translated message -->
              </a>
            </p>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>

  <!-- / Content -->
  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="/static/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/static/assets/vendor/libs/popper/popper.js"></script>
  <script src="/static/assets/vendor/js/bootstrap.js"></script>
  <script src="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <script src="/static/assets/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->

  <!-- Main JS -->
  <script src="/static/assets/js/main.js"></script>

  <!-- Page JS -->

</body>

</html>